$user-img-size: 50px;

.user-info-container {
    position: relative;
}

.user-icon-img {
    height: $user-img-size;
    aspect-ratio: 1;
    border-radius: 100%;
}

.user-info-top-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.user-info-card {
    position: absolute;
    background-color: white;
    right: 0;
    overflow: hidden;
    border-radius: var(--border-radius-sm);
}

.user-info-bottom-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 8px;
}

.user-info-main-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-in-btn:hover {
    pointer-events: none;
}
