.product {
    display: grid;
    grid-template-columns: auto 350px;
    gap: 16px;
}

.main-info {
    display: flex;
    gap: 24px;
    background: var(--color-basic-white);
    border-radius: var(--border-radius-sm);
    padding: 30px;
}

.product-info-container {
    padding-top: 16px;
}

.product-rating {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.product-rating-item {
    color: var(--color-secondary-grey);
    display: flex;
    gap: 4px;
}

.product-image {
    aspect-ratio: 1;
    width: 350px;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 20px 30px 20px;
    background: var(--color-basic-white);
    border-radius: var(--border-radius-sm);
    height: fit-content;
}

.product-price {
    border-bottom: 2px solid var(--color-basic-white-darker);
    white-space: nowrap;
    text-align: center;
    align-self: stretch;
    margin-bottom: 10px;
}

.product-delivery {
    margin-top: 4px;
}
